/************ GENERALES **************/
body {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: .5em;
}

.text-underline {
    text-decoration: underline;
}

.icon-navbar {
    width: 50px;
}

.class-flex {
    display: flex !important;
}

.class-mid-vertical {
    align-items: center;
}

.class-mid-mid {
    justify-content: center;
    align-items: center;
}

.class-100-width {
    width: 100%;
}

.title-size {
    font-size: 4em;
}

.class-25-width {
    width: 25%;
}

.class-50-width {
    width: 50%;
}

.text-white {
    color: white;
}

.class-mid-botton {
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}

/************ CSS OF PC *************/

#navbar-pc {
    width: 20%;
    height: 100vh;
    background-image: radial-gradient(circle at 0% 0%, #efffff 0, #f0f0f0 16.67%, #dee8e6 33.33%, #d1d1d1 50%, #c3bbbd 66.67%, #b8a9af 83.33%, #af9ca6 100%);
    position: fixed!important;
}


.body-pc {
    width: 80%;
    margin-left: 20%;
    height: auto;
    flex-wrap: wrap;
}

#container-title {
    height: 25%;
    width: 40%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px;
    z-index: 99;
    position:absolute;
    border: 2px solid #00C423;
}

.typed-cursor {
    color: white;
}

.names {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;    
}

.h2, h2 {
    text-align: center;
}

#container-about-me {
    height: max-content;
    width: 100%;
}

#container-img-about-me {
    width: 25%;
    height: 100%;
    margin-bottom: 50px;
}

#container-text-about-me {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    text-align: justify;
    flex-wrap: wrap;
}

#img-about-me {
    width: 80%;
    margin-top: 20%;
}

#text-about-me {
    padding-left: 15%;
    padding-right: 15%;
}

#title-about-me {
    font-size: 4em;
    height: 150px;
}

#container-skills {
    width: 100%;
    height: 110vh;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/pelos-locos/image/upload/v1645213966/Portafolio/Bg-Black.jpg);
    z-index: -1s;
    background-size: cover;
    padding-top: 50px;
}

#title-skills {
    color: white;
    height: 30%;
}

#container-cols {
    height: 70%;
}

.text-skill {
    padding-bottom: 35px;
    font-size: 2em;
}

#container-projects {
    width: 100%;
    height: max-content;
    background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
    display: flex;
    flex-wrap: wrap;
}

#title-projects {
    color: white;
    padding: 30px;
    width: 100%;
}

.container-project-left {
    width: 50%;
    margin-left: 10% !important;
    border: 5px solid rgb(84, 219, 6);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-project-left:hover {
    background-color: black;
    transition-duration: 2s;
    width: 40%;
}

.container-project-right {
    width: 50%;
    margin-left: 40% !important;
    border: 5px solid rgb(84, 219, 6);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: right;
}

.container-project-right:hover {
    background-color: black;
    width: 40%;
    transition-duration: 2s;
}

.link-pages {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    font-size: 1.5em;
}

.text-project {
    font-size: 1em;
}

@media (max-width: 992px) {
    .viewable-on-pc {
        display: none !important;
    }
    .intro-pc {
        width: 100%;
        height: 50vh;
        background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
        margin: 0;
    }

    #container-title {
        width: 80%;
        margin-left: 10%;
        height: 15%;
    }

    .names {
        font-size: 1em;
    }
}

/************ CSS OF MOVIL **********/

@media (min-width: 992px) {
    .viewable-on-movil {
        display: none !important;
    }
    .intro-pc {
        width: 80%;
        margin-left: 20%;
        height: 100vh;
        background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
    }
}

.nav-link {
    text-align: center;
}

.navbar-toggler-icon {
    text-align: center;
}

#text-icon-navbar {
    letter-spacing: .2em;
}

.bg-black {
    background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
    height: 50vh;
    width: 100%;
}

#container-first-text-movil {
    width: 75%;
    height: 150px;
    background-color: rgba(0, 0, 0, .7);
    border: 2px solid white;
    z-index: 99;
    position:absolute;
}

.names2 {
    color: white;
    font-size: .9em;
}

#navBarMovil {
    height: 75px;
}

#body-movil {
    margin-top: 50px;
}

#img-movil {
    width: 200px;
}

#title-about-me-movil {
    margin-top: 35px;
}

#text-about-me-movil {
    margin-top: 35px;
    text-align: justify;
    width: 80%;
    margin-left: 10%;
}

#container-skills-movil {
    width: 100%;
    padding: 50px;
    background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
}

.title-skill-movil { 
    width:100%;
    color: white;
    font-size: 2.5em;
}

.img-skill-movil {
    width: 200px;
    
    margin: 25px;
}

#container-projects-movil {
    width: 100%;
    background-color: black;
}

#container-projects-movil {
    color: white;
    padding: 50px;
}

#title-section {
    font-size: 2em;
}

.container-project-movil {
    
    height: auto;
    border: 5px solid rgb(84, 219, 6);
    margin-top: 50px;
    border-radius: 15px;
}

.link-pages-movil {
    text-align: center;
    font-size: 2em;
}

.text-project-movil {
    text-align: center;
    padding: 10px;
}

.text-ancor-movil {
    color: white;
}

.ancor-icon-img {
    width: 100px;
}

#container-img-icons {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 550px) {

    .link-pages-movil {
        font-size: 1em;
    }

}

@media (min-width: 320px) {

    .link-pages-movil {
        margin-top: 25px;
        font-size: 1em;
    }

    .text-project-movil {
        font-size: .75em;
    }

    .ancor-icon-img {
        width: 75px;
    }

}
