/************ GENERALES **************/
body {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: .5em;
}

.text-underline {
    text-decoration: underline;
}

.icon-navbar {
    width: 50px;
}

.class-flex {
    display: flex !important;
}

.class-mid-vertical {
    align-items: center;
}

.class-mid-mid {
    justify-content: center;
    align-items: center;
}

.class-100-width {
    width: 100%;
}

/************ CSS OF PC *************/

#particles-js {
    height: 100vh;
    width: 100%;
    z-index: -1;
}

#navbar-pc {
    width: 20%;
    height: 100vh;
    background-image: radial-gradient(circle at 0% 0%, #efffff 0, #f0f0f0 16.67%, #dee8e6 33.33%, #d1d1d1 50%, #c3bbbd 66.67%, #b8a9af 83.33%, #af9ca6 100%);
    position: fixed!important;
}


.body-pc {
    width: 80%;
    margin-left: 20%;
    height: auto;
    flex-wrap: wrap;
}

.intro-pc {
    width: 100%;
    height: 100vh;
    /*background-image: url("https://res.cloudinary.com/pelos-locos/image/upload/v1644637890/Portafolio/BackGround3.png");*/
    background-image: radial-gradient(circle at 0% 0%, #3a5d6a 0, #084658 50%, #003047 100%);
}

#container-title {
    height: 25%;
    width: 40%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px;
    z-index: 99;
    position:absolute;
    border: 2px solid #00C423;
}

.typed-cursor {
    color: white;
}

.names {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;    
}

.h2, h2 {
    text-align: center;
}

#container-about-me {
    height: 75vh;
    width: 100%;
}

#container-img-about-me {
    width: 25%;
    height: 100%;
}

#container-text-about-me {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    text-align: justify;
    flex-wrap: wrap;
}

#img-about-me {
    width: 80%;
    margin-top: 20%;
}

#text-about-me {
    padding-left: 15%;
    padding-right: 15%;
}

#title-about-me {
    font-size: 4em;
    height: 0;
}
/************ CSS OF MOVIL **********/